*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#id-container{
    width: 100%;
    display: flex;
    border: 2px solid gray;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;

}


#id-div{
    width: 250px;
    height: 50px;
    border: 5px solid cyan;
}


#id-div2{
    width: 250px;
    height: 50px;
    border: 5px solid cyan;
}

body div{
    width: 200px;
    height: 50px;
}

.div1{
    background: cyan;
}
.div2{
    background: lightcyan;
}
.div3{
    background: darkcyan;
}
